* {
  /* border: 1px dashed blue; */
}

/* *********** Global Styles  *********** */

.App {
  text-align: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* *********** Header and Footer Component Styles  *********** */


/* *********** Search Component Styles  *********** */
.search-bar {
  margin-bottom: 30px;
}

input {
  margin-right: 10px;
  padding: 5px 10px;
  width: 200px;
}

form > button {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
}

.search-bar > button {
  margin-top: 5px;
  background-color: #eee;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

/* *********** Movie List Component Styles  *********** */
.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #eee;
}

.hide-list {
  display: none;
}

.movie-list h2 {
  width: 98%;
}

.movie-button {
  width: 200px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

/* *********** Movie Details Component Styles  *********** */
/* Pulled guidance from react-router lesson starter code - used same background gradient as that project. */

/* ******* Movie Header  ******* */
.movie-header {
  height: 275px;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.movie-header > img {
  width: 100%
}

.movie-header-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  color: white;
  padding-left: 3%;
  background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 1)
  );
}

.movie-header-details > h1 {
  line-height: 2rem;
  margin: 5px 0;
}

.movie-header-details > h4 {
  margin: .5rem 0;
}

.movie-header-details > p {
  margin: .2rem 0;
}
.movie-header-details > p.last {
  margin-bottom: 1rem;
}

/* ******* Gender Summary ******* */
.movie-gender-summary {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
}

.gender-summary-container, .bechdel-test {
  width: 48%;
  line-height: 30px;
  text-align: left;
}

.female-cast-summary, .female-crew-summary {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.label {
  width: 20%;
  font-weight: bold;
}

.full-bar {
  width: 50%;
  height: 25px;
  border: 1px solid black;
  /* background-color: white; */
  margin: 5px 15px 5px 5px;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
}

.percentage-fill {
  height: 100%;
  background-color: gold;
  border-radius: 0 5px 5px 0;
}

/* ******* Credits List ******* */

.credits-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.credits-list > h3 {
  width: 100%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 5px 0;
}

.members {
  width: 30vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid #eee;
  padding: 0 10px;
}

.members h2 {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
.cast-member {
  width: 22%;
  margin: 5px;
}

.cast-member img {
  width: 100%;
}