* {
  /* border: 1px dashed blue; */
}

.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movie-button {
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.credits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.females, .males {
  width: 48%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.females h2, .males h2 {
  width: 98%;
  margin: 0 auto;
}
.cast-member {
  width: 20%;
  margin: 5px;
}

.cast-member img {
  width: 80px;
}