* {
  /* border: 1px dashed blue; */
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}
/* *********** Search Component Styles  *********** */
.search-bar {
  margin-bottom: 30px;
}

input {
  margin-right: 10px;
  padding: 5px 10px;
  width: 200px;
}

form > button {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
}

.search-bar > button {
  margin-top: 5px;
  background-color: #eee;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

/* *********** Movie List Component Styles  *********** */
.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #eee;
}

.hide-list {
  display: none;
}

.movie-list h2 {
  width: 98%;
}

.movie-button {
  width: 200px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

/* *********** Movie Details Component Styles  *********** */

.credits-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.credits-list > h3 {
  width: 100%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 5px 0;
}

.members {
  width: 30vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid #eee;
  padding: 0 10px;
}

.members h2 {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
.cast-member {
  width: 22%;
  margin: 5px;
}

.cast-member img {
  width: 100%;
}